matplotlib==3.10.6
numpy==2.3.3
scikit-learn==1.7.2
pytorch-gpu==2.5.1
torchmetrics==1.8.2
torchvision==0.20.1
torchinfo==1.8.0
lightning==2.5.5
xarray==2025.10.1
netcdf4==1.7.2
fastparquet==2024.11.0
dask-core==2025.10.0
scikit-learn==1.7.2
